name: CI-CD

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  # ---------- CI ----------
  CI:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install Dependencies
        working-directory: 02-encontros-tech
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Testes
        working-directory: 02-encontros-tech
        run: python -m pytest tests/ -v

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          context: ./02-encontros-tech
          file: ./02-encontros-tech/Dockerfile
          push: true
          tags: |
            guilhermehs00/encontros-tech:latest
            guilhermehs00/encontros-tech:v${{ github.run_number }}

  # ---------- CD - HOMOLOG ----------
  CD-homolog:
    runs-on: ubuntu-latest
    needs: [CI]
    environment: homolog
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Configure kubectl
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBECONFIG_CONTENT }}" > ~/.kube/config

      - name: Create namespace and secrets (Homolog)
        run: |
          kubectl create namespace tech-homolog --dry-run=client -o yaml | kubectl apply -f -
          kubectl create secret generic encontros-tech-secrets \
            --from-literal=DATABASE_URL="${{ secrets.DATABASE_URL }}" \
            --namespace=tech-homolog \
            --dry-run=client -o yaml | kubectl apply -f -

      - name: Deploy to Kubernetes Cluster (Homolog)
        uses: azure/k8s-deploy@v5
        with:
          namespace: tech-homolog
          manifests: |
            02-encontros-tech/k8s/manifests.yaml
          images: |
            guilhermehs00/encontros-tech:v${{ github.run_number }}
          strategy: basic

  # ---------- CD - PRODUÇÃO ----------
  CD-producao:
    runs-on: ubuntu-latest
    needs: [CI]
    environment: producao
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Configure kubectl
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBECONFIG_CONTENT }}" > ~/.kube/config

      - name: Create namespace and secrets (Produção)
        run: |
          kubectl create namespace tech-producao --dry-run=client -o yaml | kubectl apply -f -
          kubectl create secret generic encontros-tech-secrets \
            --from-literal=DATABASE_URL="${{ secrets.DATABASE_URL }}" \
            --namespace=tech-producao \
            --dry-run=client -o yaml | kubectl apply -f -

      - name: Deploy to Kubernetes Cluster (Produção)
        uses: azure/k8s-deploy@v5
        with:
          namespace: tech-producao
          manifests: |
            02-encontros-tech/k8s/manifests.yaml
          images: |
            guilhermehs00/encontros-tech:v${{ github.run_number }}
          strategy: basic
